* {
    box-sizing: border-box;
}

%menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

%item {
    padding: 1rem;
}

.header {
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
    &__menu {
        flex-grow: 2;
        background-color: bisque;
    }
    &__menu > ul {
        @extend %menu;
    }
    &__menu-item {
        @extend %item;
    }
    &__login > ul {
        @extend %menu;
    }
    &__login-item {
        @extend %item;
    }
}
